@import "bootstrap/bootstrap";
@import "bootstrap/responsive";
@import "bootstrap-helpers";
@import "homepage";

#page-container {
  padding-bottom: @baseLineHeight*2;
}

@editBkg: rgba(0,0,0,0.2);
@editFocusBkg: rgba(255,255,255,0.2);
@highlightColor: #08C ;

@borderRadius: 5px;


.jumbotron h1 {
	line-height: 60px;
	margin-bottom: 0;
}

.jumbotron {
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.8), 0 0 30px rgba(0, 0, 0, 0.075);
}

.editable {
	padding: 7px 10px 8px;
	.transition(background 0.2s ease);

	&:hover {
		background: @editBkg;
		.border-radius(@borderRadius);
		cursor: pointer;
	}

	input, input:active, input:hover, input:focus {
		background: transparent;
		
		height: auto;
		width: 90%;

		border: 0;
		.box-shadow(none);

		outline:0px !important;
	    -webkit-appearance:none;
	    text-rendering: optimizeLegibility;

	    padding: 0;
	    margin: 0;
	}
}

section .editable:hover {
	background: #fee;
}

.edit-in-progress, .edit-in-progress:hover {
	background: @editFocusBkg;
	.border-radius(@borderRadius);
}

h2.editable, h2.editable input {
	font-size: 36px;
	line-height: 40px;
}

p.editable textarea {
	width: 100%;
	background: transparent;
	border: 0;
	overflow: hidden;
	padding: 0;

	font-size: 21px;
	font-weight: 200;
	line-height: 32px;

	border: 0;
	.box-shadow(none);

	outline:0px !important;
	-webkit-appearance:none;
}

header h1.editable input, header h1.editable input:active, header h1.editable input:hover, header h1.editable input:focus {
	font-weight: bold;
	letter-spacing: -1px;
	line-height: 1;
	font-size: 60px;
	color: #fff;

	margin-top: -2px;
}

header p.editable input, header p.editable input:active, header p.editable input:hover, header p.editable input:focus {
	font-size: 24px;
	font-weight: 300;
	line-height: 30px;
	color: #fff;
}

h1.edit-in-progress { 
	padding: 0px 10px 1px;
}

p.edit-in-progress { 
	padding: 4px 10px 9px;
}

.page-sidebar {
  margin-left: 0;
}
.page-sidenav { 
	.border-radius(0);
	.box-shadow(none);

	& > li:first-child > a, & > li:last-child > a {
		.border-radius(0);
	}

	& > li > a {
		background: whiteSmoke;
		border: 0;
		border-top: 1px solid white;
	}

	& > li.add-section > a {
		background-color: #fff;
		color: #ddd;

		&:hover {
			color: @highlightColor;
		}
	}

  & > li {
    position: relative;
  }

  & > li div {
    visibility: hidden;
    position: absolute;
    left: -30px;
    padding: 8px;
    & > b { .opacity(25); }
  }

  & > li:hover div, & > li div:hover, & > li.active div:hover, & > li.active:hover div {
    visibility: visible;
  }

  & > li div:hover {
    cursor: pointer;

    & > b {
      .opacity(50);
    }
  }
}

.container section {
	margin-top: 40px;
	margin-bottom: 60px;
}

p.lead {
	line-height: 32px;
}

li.add-section {
  background-color: whiteSmoke;
}

#gradient-editor {
	position: fixed;
	right: 43px;
	z-index: 10;
	top: 5px;
	background: rgba(0, 0, 0, 0.5);
	padding: 3px;

	.border-radius(@borderRadius);

	.opacity(0);

	&.open {
		.opacity(100);
	}
}

#account-menu {
	position: fixed;
	top: 5px;
	right: 5px;
	z-index: 10;
	
	text-shadow: none;
	.border-radius(@borderRadius);
	background-color: rgba(0, 0, 0, 0.5);

	ul {
		margin-bottom: 0;

		li > a {
			
			color: white;
			white-space: nowrap;
			font-size: 13px;
			padding: 5px;
			text-align: right;
			overflow: hidden;

			display: block;
			

			span {
				display: none;
			}

			&:hover {
				text-decoration: none;

				span {
					display: block;
				}
			}

			i {
				font-size: 20px;
				vertical-align: middle;
				margin-left: -2px;
				-webkit-font-smoothing: antialiased;
			}
		}
		li {
		}
	}
}

.flash-notice, .flash-alert {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}


// Pages List

#page-list {

  header {
    text-align: center;
    h1 {
      display: inline-block;
      padding: @baseLineHeight*2.5 0 0;
      margin: @baseLineHeight auto;
      background-color: whitesmoke;
      .border-box();
      width: 200px;
      height: 200px;
      .border-radius(200px);
    }
  }

  .page-thumb {
    margin-bottom: @baseLineHeight;
    & > a {
      color: white;
      .page-thumb-head {
        width: 100%;
        text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
        padding: @baseLineHeight;
        .border-box();
        h2 {
          margin: 0;
          height: @baseLineHeight*4;
          overflow: hidden;
        }
      }
    }
    .page-thumb-controls {
      background-color: whitesmoke;
      border-top: 1px solid white;
      padding: @baseLineHeight/2 - 1 @baseLineHeight @baseLineHeight/2;
      text-align: right;
      a {
        margin-left: @baseLineHeight/2;
      }
      i {
        .opacity(50);
      }
      span {
        float: left;
        color: #AAA;
        font-size: 12px;
        line-height: 12px;
        padding: 4px 0px;
      }
    }
  }

  .page-new {
    background-color: whitesmoke;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    line-height: @baseLineHeight*8;
    height: @baseLineHeight*8;
    color: darkgray;
    &:hover {
      background-color: lightgray;
      color: black;
      text-decoration: none;
    }
  }
}

.drag-highlight {
  border: 1px solid #FCEFA1;
  background: #FBF9EE;
  display: block;
  height: 37px;
}

#account-menu a:hover {
  background-color: inherit;
}
