<h3>Home</h3>
<% @users.each do |user| %>
  <p>User: <%= user.email %> </p>
<% end %>

<% if signed_in? %>
  <%= link_to 'Logout', :destroy_user_session, :method => :delete %>
<% else %>
  <%= link_to 'Sign In', :new_user_session %>
<% end %>
