<h1>One Page.</h1>

<p>Ever needed to quickly create a simple website? Worry no more!</p>

<p><%= link_to 'Create a Page', :new_page, :class => "btn btn-large btn-success" %></p>

<p>or <%= link_to 'login', :new_user_session %></p>
