<h2>Login</h2>
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <p><%= f.email_field :email, :placeholder => 'email@example.com' %></p>
  <p><%= f.password_field :password, :placeholder => '********' %></p>
  <p><%= f.submit "Login", :class => 'btn' %></p>
<% end %>