<!DOCTYPE html>
<html>
<head>
  <%= render 'layouts/head' %>
</head>
<body data-spy="scroll" data-target=".page-sidebar">

  <% if notice %><p class="alert"><%= notice %></p><% end %>
  <% if alert %><p class="alert"><%= alert %></p><% end %>

  <%= yield %>

</body>
</html>
