<!DOCTYPE html>
<html>
<head>
  <%= render 'layouts/head' %>
</head>
<body>

  <% if notice %><p class="alert alert-notice flash-notice"><%= notice %></p><% end %>
  <% if alert %><p class="alert flash-alert"><%= alert %></p><% end %>

  <div id="home">
    <div id="home-outer">
      <div id="home-inner">
        <div id="home-contents">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>

</body>
</html>
